.venv/
.env
__pycache__/
*.pyc
data/vocabulary.db
data/vocabulary.db-*
frontend/node_modules/
frontend/dist/

*.mp4
*.zip
*.db
*.pdf

.DS_Store
data/pics/
data/ocr_output/
public/media/
deutsche_study.egg-info/
